<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <div>
            <% toto.forEach(element =>{%>
                <img src="<%=element.img%>" alt="">
                <h2><%=element.name%></h2>
                <h5><%=element.level%></h5>

                <form action="/test" method="POST">
                <input type="hidden" name="img" value="<%=element.img%>">
                <input type="hidden" name="name" value="<%=element.name%>">
                <input type="hidden" name="level" value="<%=element.level%>">
                <button type="submit">add digimon</button>
                </form>
          <%})%>
        </div>
    </main>
</body>
</html>